# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

* List popular languages
* List Data Science libraruies
* List Data Science tools

Some of the popular languages Data Scientists use are:

* R
* Python
* Julia

Some of the commonly used libraries used by Data Scientists include:

+ Panda
+ Plotly
+ Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|Julia|
|Jupyter Notebbok|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers:

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [4]:
200/60

3.3333333333333335

## Author

Marta